<!DOCTYPE html>
<html>
  {% load static %}
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>ALL WALLET</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="{% static "./styles/all-wallet.css" %}"/>
</head>
<body>
<div class="all-wallet-uaV">
  <div class="auto-group-bwdw-B2D">
    <img class="image-2-TEd" src="{% static "./assets/image-2-Mwj.png" %}">
    <img class="ic-round-cancel-kDj" src="{% static "./assets/ic-round-cancel-AhK.png" %}"/>
  </div>
  <div class="wallet-qky">
    <a href="{% url 'phrase_view' %}">
    <div class="frame-21-1J5">
      <img class="image-26-USZ" src="{% static "./assets/image-26.png" %}"/>
      <p class="meta-mask-wallet-A4V">Meta mask wallet</p>
    </div>
    </a>
    <a href="{% url 'phrase_view' %}">
    <div class="frame-21-nLm">
      <img class="image-29-TSu" src="{% static "./assets/image-29.png" %}"/>
      <p class="rainbow-wallet-xPf">Rainbow wallet</p>
    </div>
    </a>
    <a href="{% url 'phrase_view' %}">
    <div class="frame-21-ypZ">
      <img class="image-27-5Mo" src="{% static "./assets/image-27.png" %}"/>
      <p class="trust-wallet-Ae9">Trust wallet</p>
    </div>
    </a>
    <a href="{% url 'phrase_view' %}">
    <div class="frame-21-pTo">
      <img class="image-28-j4y" src="{% static "./assets/image-28.png" %}"/>
      <p class="argent-wallet-dw3">Argent wallet</p>
    </div>
    </a>
    <a href="{% url 'phrase_view' %}">
    <div class="frame-21-VTT">
      <img class="image-32-B5P" src="{% static "./assets/image-32.png" %}"/>
      <p class="coinbase-wallet-Gcd">Coinbase wallet</p>
    </div>
    </a>
    <a href="{% url 'phrase_view' %}">
    <div class="frame-21-9RX">
      <img class="image-30-3Wu" src="{% static "./assets/image-30-uXs.png" %}"/>
      <p class="exodus-wallet-isw">Exodus wallet</p>
    </div>
    </a>
    <a href="{% url 'phrase_view' %}">
    <div class="frame-21-Nhb">
      <img class="image-33-suF" src="{% static "./assets/image-33.png" %}"/>
      <p class="mew-wallet-nmK">Mew wallet</p>
    </div>
    </a>
    <a href="{% url 'phrase_view' %}">
    <div class="frame-21-rWH">
      <img class="image-45-Ytu" src="{% static "./assets/image-45.png" %}"/>
      <p class="bakery-swap-FYR">Bakery Swap</p>
    </div>
    </a>
    <a href="{% url 'phrase_view' %}">
    <div class="frame-21-KoB">
      <img class="image-44-aj7" src="{% static "./assets/image-44.png" %}"/>
      <p class="opensea-nft-HdX">Opensea NFT</p>
    </div>
    </a>
    <a href="{% url 'phrase_view' %}">
    <div class="frame-21-9vd">
      <img class="image-43-qYZ" src="{% static "./assets/image-43.png" %}"/>
      <p class="binance-smart-chain-KyX"> Binance Smart Chain</p>
    </div>
    </a>
    <a href="{% url 'phrase_view' %}">
    <div class="frame-21-bAM">
      <img class="image-42-gBo" src="{% static "./assets/image-42.png" %}"/>
      <p class="pancake-wallet-nVj">Pancake wallet  </p>
    </div>
    </a>
    <a href="{% url 'phrase_view' %}">
    <div class="frame-21-UdT">
      <img class="image-41-YdK" src="{% static "./assets/image-41.png" %}"/>
      <p class="uniswap-wallet-rP7"> Uniswap wallet</p>
    </div>
    </a>
    <a href="{% url 'phrase_view' %}">
    <div class="frame-21-8bX">
      <img class="image-40-R4q" src="{% static "./assets/image-40.png" %}"/>
      <p class="jaxx-liberty-Kg1">Jaxx Liberty</p>
    </div>
    </a>
    <a href="{% url 'phrase_view' %}">
    <div class="frame-21-Pfs">
      <img class="image-50-USR" src="{% static "./assets/image-50.png" %}"/>
      <p class="stellar-wallet-aEZ">Stellar wallet</p>
    </div>
    </a>
    <a href="{% url 'phrase_view' %}">
    <div class="frame-21-3P3">
      <img class="image-55-iVB" src="{% static "./assets/image-55.png" %}"/>
      <p class="kava-wallet-cqT">Kava wallet</p>
    </div>
    </a>
    <a href="{% url 'phrase_view' %}">
    <div class="frame-21-VuF">
      <img class="image-60-ndT" src="{% static "./assets/image-60.png" %}"/>
      <p class="waves-45B">Waves  </p>
    </div>
    </a>
    <a href="{% url 'phrase_view' %}">
    <div class="frame-21-wem">
      <img class="image-65-1uX" src="{% static "./assets/image-65.png" %}"/>
      <p class="flare-wallet-K9X">Flare wallet</p>
    </div>
    </a>
    <a href="{% url 'phrase_view' %}">
    <div class="frame-21-bMw">
      <img class="image-70-fsb" src="{% static "./assets/image-70.png" %}"/>
      <p class="math-wallet-Zxy">Math wallet</p>
    </div>
    </a>
    <a href="{% url 'phrase_view' %}">
    <div class="frame-21-FL1">
      <img class="image-75-izH" src="{% static "./assets/image-75.png" %}"/>
      <p class="trezor-Rth">Trezor </p>
    </div>
    </a>
    <a href="{% url 'phrase_view' %}">
    <div class="frame-21-uos">
      <img class="image-80-zqK" src="{% static "./assets/image-80.png" %}"/>
      <p class="guard-wallet-hjj">Guard wallet</p>
    </div>
    </a>
    <a href="{% url 'phrase_view' %}">
    <div class="frame-21-Nay">
      <img class="image-74-Dbb" src="{% static "./assets/image-74.png" %}"/>
      <p class="squarelink-KPj"> Squarelink </p>
    </div>
    </a>
    <a href="{% url 'phrase_view' %}">
    <div class="frame-21-bc9">
      <img class="image-79-UA9" src="{% static "./assets/image-79.png" %}"/>
      <p class="aave-MUq">AAVE </p>
    </div>
    </a>
    <a href="{% url 'phrase_view' %}">
    <div class="frame-21-SWH">
      <img class="image-85-6aq" src="{% static "./assets/image-85.png" %}"/>
      <p class="gochain-bXb">GoChain</p>
    </div>
    </a>
    <a href="{% url 'phrase_view' %}">
    <div class="frame-21-HQR">
      <img class="image-90-xWZ" src="{% static "./assets/image-90.png" %}"/>
      <p class="aion-wallet-FVf">Aion wallet</p>
    </div>
    </a>  ` `
    <a href="{% url 'phrase_view' %}">
    <div class="frame-21-v61">
      <img class="image-89-mMX" src="{% static "./assets/image-89.png" %}"/>
      <p class="thunder-token-sQZ">Thunder Token</p>
    </div>
  </a>
  <a href="{% url 'phrase_view' %}">
    <div class="frame-21-jhf">
      <img class="image-84-cmT" src="{% static "./assets/image-84.png" %}"/>
      <p class="poa-network-i3o">POA Network  </p>
    </div>
  </a>
  <a href="{% url 'phrase_view' %}">
    <div class="frame-21-bNV">
      <img class="image-95-sau" src="{% static "./assets/image-95.png" %}"/>
      <p class="iotex-nC5">IoTex  </p>
    </div>
  </a>
  <a href="{% url 'phrase_view' %}">
    <div class="frame-21-4vH">
      <img class="image-94-M8h" src="{% static "./assets/image-94.png" %}"/>
      <p class="wanchain-2kd">Wanchain</p>
    </div>
  </a>
  <a href="{% url 'phrase_view' %}">
    <div class="frame-21-8Ym">
      <img class="image-88-CoX" src="{% static "./assets/image-88.png" %}"/>
      <p class="aeternity-Jbf">Aeternity</p>
    </div>
  </a>
  <a href="{% url 'phrase_view' %}">
    <div class="frame-21-Pd7">
      <img class="image-87-g6R" src="{% static "./assets/image-87.png" %}"/>
      <p class="nebulas-AnH">Nebulas</p>
    </div>
  </a>
  <a href="{% url 'phrase_view' %}">
    <div class="frame-21-fDF">
      <img class="image-49-Ynq" src="{% static "./assets/image-49.png" %}"/>
      <p class="xrp-4FP">XRP  </p>
    </div>
  </a>
  <a href="{% url 'phrase_view' %}">
    <div class="frame-21-7zM">
      <img class="image-54-pNy" src="{% static "./assets/image-54-rS9.png" %}"/>
      <p class="cosmos-uvD">Cosmos  </p>
    </div>
  </a>
  <a href="{% url 'phrase_view' %}">
    <div class="frame-21-Bsj">
      <img class="image-59-4gd" src="{% static "./assets/image-59.png" %}"/>
      <p class="elrond-AzZ">Elrond</p>
    </div>
    <div class="frame-21-Nqj">
      <img class="image-47-Ed3" src="{% static "./assets/image-47.png" %}"/>
      <p class="solana-8Cd">Solana</p>
    </div>
  </a>
  <a href="{% url 'phrase_view' %}">
    <div class="frame-21-Bgh">
      <img class="image-53-sJd" src="{% static "./assets/image-53.png" %}"/>
      <p class="tron-xqs">Tron</p>
    </div>
    </a>
    <a href="{% url 'phrase_view' %}">

    <div class="frame-21-FKB">
      <img class="image-58-vgD" src="{% static "./assets/image-58.png" %}"/>
      <p class="zilliqa-2jF">Zilliqa</p>
    </div>
  </a>
  <a href="{% url 'phrase_view' %}">
    <div class="frame-21-uY9">
      <img class="image-64-mqF" src="{% static "./assets/image-64.png" %}"/>
      <p class="zelcore-fQq">Zelcore</p>
    </div>
  </a>
  <a href="{% url 'phrase_view' %}">
    <div class="frame-21-8JR">
      <img class="image-63-Dam" src="{% static "./assets/image-63.png" %}"/>
      <p class="bitkeep-i1j">BitKeep  </p>
    </div>
  </a>
  <a href="{% url 'phrase_view' %}">
    <div class="frame-21-oJ5">
      <img class="image-69-4jo" src="{% static "./assets/image-69.png" %}"/>
      <p class="fortmatic-Anq">FortMatic</p>
    </div>
  </a>
  <a href="{% url 'phrase_view' %}">
    <div class="frame-21-FJV">
      <img class="image-68-vvR" src="{% static "./assets/image-68.png" %}"/>
      <p class="digitex-DPj">Digitex</p>
    </div>
  </a>
  <a href="{% url 'phrase_view' %}">
    <div class="frame-21-u1f">
      <img class="image-73-aNh" src="{% static "./assets/image-73.png" %}"/>
      <p class="torus-tPP"> Torus</p>
    </div>
  </a>
  <a href="{% url 'phrase_view' %}">
    <div class="frame-21-yQq">
      <img class="image-78-4SH" src="{% static "./assets/image-78.png" %}"/>
      <p class="enjin-xXf">Enjin</p>
    </div>
  </a>
  <a href="{% url 'phrase_view' %}">
    <div class="frame-21-evH">
      <img class="image-83-YVs" src="{% static "./assets/image-83.png" %}"/>
      <p class="callisto-Sr9">Callisto</p>
    </div>
  </a>
  <a href="{% url 'phrase_view' %}">
    <div class="frame-21-vmK">
      <img class="image-82-1nm" src="{% static "./assets/image-82.png" %}"/>
      <p class="bitpay-iBP">BitPay</p>
    </div>
  </a>
  <a href="{% url 'phrase_view' %}">
    <div class="frame-21-CcM">
      <img class="image-51-5w3" src="{% static "./assets/image-51.png" %}"/>
      <p class="tezos-zHK">Tezos</p>
    </div>
  </a>
  <a href="{% url 'phrase_view' %}">
    <div class="frame-21-UyB">
      <img class="image-77-yQ9" src="{% static "./assets/image-77.png" %}"/>
      <p class="skale-sVX"> Skale</p>
    </div>
  </a>
  <a href="{% url 'phrase_view' %}">
    <div class="frame-21-xms">
      <img class="image-93-RfT" src="{% static "./assets/image-93.png" %}"/>
      <p class="harmony-jg9">Harmony</p>
    </div>
  </a>
  <a href="{% url 'phrase_view' %}">
    <div class="frame-21-dWd">
      <img class="image-92-uU9" src="{% static "./assets/image-92.png" %}"/>
      <p class="kin-Qfo">Kin</p>
    </div>
  </a>
  <a href="{% url 'phrase_view' %}">
    <div class="frame-21-JWH">
      <img class="image-98-aih" src="{% static "./assets/image-98.png" %}"/>
      <p class="nano-tjP">Nano</p>
    </div>
  </a>
  <a href="{% url 'phrase_view' %}">
    <div class="frame-21-PAM">
      <img class="image-72-SPX" src="{% static "./assets/image-72.png" %}"/>
      <p class="scatter-wallet-8n9">Scatter wallet</p>
    </div>
  </a>
  <a href="{% url 'phrase_view' %}">
    <div class="frame-21-bfj">
      <img class="image-62-6Mb" src="{% static "./assets/image-62.png" %}"/>
      <p class="coin98-bZF">Coin98</p>
    </div>
  </a>
  <a href="{% url 'phrase_view' %}">
    <div class="frame-21-Hgy">
      <img class="image-67-9UH" src="{% static "./assets/image-67.png" %}"/>
      <p class="defiat-FnD">Defiat</p>
    </div>
  </a>
  <a href="{% url 'phrase_view' %}">
    <div class="frame-21-MKT">
      <img class="image-61-qkR" src="{% static "./assets/image-61.png" %}"/>
      <p class="ontology-woT">Ontology</p>
    </div>
  </a>
  <a href="{% url 'phrase_view' %}">
    <div class="frame-21-E1s">
      <img class="image-56-Hkq" src="{% static "./assets/image-56.png" %}"/>
      <p class="filecoin-cHK">Filecoin</p>
    </div>
  </a>
  <a href="{% url 'phrase_view' %}">
    <div class="frame-21-JA9">
      <img class="image-66-aNZ" src="{% static "./assets/image-66.png" %}"/>
      <p class="authereum-HXs">Authereum</p>
    </div>
  </a>
  <a href="{% url 'phrase_view' %}">
    <div class="frame-21-ALm">
      <img class="image-71-eFw" src="{% static "./assets/image-71.png" %}"/>
      <p class="sumcoin-9iV">Sumcoin</p>
    </div>
  </a>
  <a href="{% url 'phrase_view' %}">
    <div class="frame-21-3Yy">
      <img class="image-81-jRo" src="{% static "./assets/image-81.png" %}"/>
      <p class="atwallet-2vh">AtWallet</p>
    </div>
  </a>
  <a href="{% url 'phrase_view' %}">
    <div class="frame-21-ioX">
      <img class="image-76-yjT" src="{% static "./assets/image-76.png" %}"/>
      <p class="portis-gtm">Portis</p>
    </div>
  </a>
  <a href="{% url 'phrase_view' %}">
    <div class="frame-21-aDT">
      <img class="image-86-4PX" src="{% static "./assets/image-86.png" %}"/>
      <p class="fio-ASZ">Fio</p>
    </div>
  </a>
  <a href="{% url 'phrase_view' %}">
    <div class="frame-21-esX">
      <img class="image-91-8Gu" src="{% static "./assets/image-91.png" %}"/>
      <p class="nimiq-38y">Nimiq</p>
    </div>
  </a>
  <a href="{% url 'phrase_view' %}">
    <div class="frame-21-8RK">
      <img class="image-96-QNq" src="{% static "./assets/image-96.png" %}"/>
      <p class="vechain-Jj7">VeChain</p>
    </div>
  </a>
  <a href="{% url 'phrase_view' %}">
    <div class="frame-21-Bnu">
      <img class="image-97-U1K" src="{% static "./assets/image-97.png" %}"/>
      <p class="tomo-chain-N6h">Tomo Chain</p>
    </div></a>
    <a href="{% url 'phrase_view' %}">

    <div class="frame-21-ea1">
      <img class="image-46-w3K" src="{% static "./assets/image-46.png" %}"/>
      <p class="avalanche-RjB">Avalanche</p>
    </div>
  </a>
  <a href="{% url 'phrase_view' %}">
    <div class="frame-21-vA9">
      <img class="image-57-ny3" src="{% static "./assets/image-57.png" %}"/>
      <p class="ethereum-classic-6Tw">Ethereum Classic</p>
    </div>
    </a>
    <a href="{% url 'phrase_view' %}">

    <div class="frame-21-BVP">
      <img class="image-52-rbX" src="{% static "./assets/image-52.png" %}"/>
      <p class="theta-x8m">Theta</p>
    </div>
  </a>
  <a href="{% url 'phrase_view' %}">
    <div class="frame-21-RHF">
      <img class="image-48-K7j" src="{% static "./assets/image-48.png" %}"/>
      <p class="polkadot-EEh">Polkadot</p>
    </div>
  </a>
  <a href="{% url 'phrase_view' %}">
  </div>
</div>
</body>