<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Ellipse 3</title>
  <link rel="stylesheet" href="{% static "./styles/ellipse-3.css"%}"/>
</head>
<body>
<div class="ellipse-3-EJy">
  <img class="property-1default-GmT" src="{% static "./assets/property-1default.png" %}"/>
  <img class="property-1variant2-NJh" src="{% static "./assets/property-1variant2.png" %}"/>
  <img class="property-1variant3-V8R" src="{% static "./assets/property-1variant3.png" %}"/>
  <img class="property-1variant4-zL5" src="{% static "./assets/property-1variant4.png" %}"/>
</div>
</body>