<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <meta charset="utf-8" />
  <link rel="icon" href="{% static "/favicon.ico" %}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>error overlay</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400"/>
  <link rel="stylesheet" href="{% static "./styles/error-overlay.css" %}"/>
</head>
<body>
<div class="error-overlay-Bed">
  <p class="an-unknown-error-occurred-GRB">An unknown error occurred.</p>
  <div class="line-1-uDF">
  </div>
  <div class="ok-kzZ">OK</div>
</div>
</body>