<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Frame 21</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="{% static "./styles/frame-21.css" %}"/>
</head>
<body>
<div class="frame-21-z5b">
  <div class="property-1default-XDw">
    <img class="image-26-Pmw" src="{% static "./assets/image-26-WDs.png" %}"/>
    <p class="meta-mask-wallet-fzM">Meta mask wallet</p>
  </div>
  <div class="property-1variant2-JXX">
    <img class="image-29-P3B" src="{% static "./assets/image-29-H3s.png" %}"/>
    <p class="rainbow-wallet-g2H">Rainbow wallet</p>
  </div>
  <div class="property-1variant3-Lcd">
    <img class="image-27-cq3" src="{% static "./assets/image-27-yL1.png" %}"/>
    <p class="trust-wallet-Jhs">Trust wallet</p>
  </div>
  <div class="property-1variant4-avH">
    <img class="image-28-UVs" src="{% static "./assets/image-28-cYd.png" %}"/>
    <p class="argent-wallet-ANh">Argent wallet</p>
  </div>
  <div class="property-1variant5-2fo">
    <img class="image-32-JtD" src="{% static "./assets/image-32-1Pj.png" %}"/>
    <p class="coinbase-wallet-o4H">Coinbase wallet</p>
  </div>
  <div class="property-1variant6-GTf">
    <img class="image-30-Mk1" src="{% static "./assets/image-30-k4D.png" %}"/>
    <p class="exodus-wallet-FqP">Exodus wallet</p>
  </div>
  <div class="property-1variant7-8eH">
    <img class="image-33-Dfj" src="{% static "./assets/image-33-B57.png" %}"/>
    <p class="mew-wallet-HvV">Mew wallet</p>
  </div>
  <div class="property-1variant8-a8u">
    <img class="image-45-fRF" src="{% static "./assets/image-45-Xzu.png" %}"/>
    <p class="bakery-swap-mUH">Bakery Swap</p>
  </div>
  <div class="property-1variant9-qyw">
    <img class="image-44-8CM" src="{% static "./assets/image-44-AFf.png" %}"/>
    <p class="opensea-nft-pqs">Opensea NFT</p>
  </div>
  <div class="property-1variant10-WCu">
    <img class="image-43-oC1" src="{% static "./assets/image-43-YbF.png" %}"/>
    <p class="binance-smart-chain-uF3"> Binance Smart Chain</p>
  </div>
  <div class="property-1variant11-n3w">
    <img class="image-42-Gjo" src="{% static "./assets/image-42-ngM.png" %}"/>
    <p class="pancake-wallet-MmF">Pancake wallet  </p>
  </div>
  <div class="property-1variant12-Ea9">
    <img class="image-41-LNH" src="{% static "./assets/image-41-1Rw.png" %}"/>
    <p class="uniswap-wallet-3Xb"> Uniswap wallet</p>
  </div>
  <div class="property-1variant13-7nM">
    <img class="image-40-R2M" src="{% static "./assets/image-40-Cn1.png" %}"/>
    <p class="jaxx-liberty-7vm">Jaxx Liberty</p>
  </div>
  <div class="property-1variant14-CBX">
    <img class="image-50-gcV" src="{% static "./assets/image-50-bdX.png" %}"/>
    <p class="stellar-wallet-BZF">Stellar wallet</p>
  </div>
  <div class="property-1variant15-4d3">
    <img class="image-55-YYD" src="{% static "./assets/image-55-CJh.png" %}"/>
    <p class="kava-wallet-dZf">Kava wallet</p>
  </div>
  <div class="property-1variant16-un5">
    <img class="image-60-CmB" src="{% static "./assets/image-60-AQ5.png" %}"/>
    <p class="waves-7NM">Waves  </p>
  </div>
  <div class="property-1variant17-nDb">
    <img class="image-65-GuT" src="{% static "./assets/image-65-iHT.png" %}"/>
    <p class="flare-wallet-mrD">Flare wallet</p>
  </div>
  <div class="property-1variant18-pJh">
    <img class="image-70-htH" src="{% static "./assets/image-70-sx9.png" %}"/>
    <p class="math-wallet-ogR">Math wallet</p>
  </div>
  <div class="property-1variant19-gkD">
    <img class="image-75-yjK" src="{% static "./assets/image-75-UXP.png" %}"/>
    <p class="trezor-5GZ">Trezor </p>
  </div>
  <div class="property-1variant20-ME5">
    <img class="image-80-3ch" src="{% static "./assets/image-80-sMF.png" %}"/>
    <p class="guard-wallet-Z5F">Guard wallet</p>
  </div>
  <div class="property-1variant21-Rt9">
    <img class="image-74-7ky" src="{% static "./assets/image-74-SGM.png" %}"/>
    <p class="squarelink-pvH"> Squarelink </p>
  </div>
  <div class="property-1variant22-6cu">
    <img class="image-79-PM7" src="{% static "./assets/image-79-uwj.png" %}"/>
    <p class="aave-gr1">AAVE </p>
  </div>
  <div class="property-1variant23-9zV">
    <img class="image-85-TEV" src="{% static "./assets/image-85-tN9.png" %}"/>
    <p class="gochain-jxh">GoChain</p>
  </div>
  <div class="property-1variant24-dHP">
    <img class="image-90-vGV" src="{% static "./assets/image-90-ojs.png" %}"/>
    <p class="aion-wallet-pMs">Aion wallet</p>
  </div>
  <div class="property-1variant25-hgZ">
    <img class="image-89-ni1" src="{% static "./assets/image-89-zHK.png" %}"/>
    <p class="thunder-token-W8D">Thunder Token</p>
  </div>
  <div class="property-1variant26-PSu">
    <img class="image-84-Gmb" src="{% static "./assets/image-84-5C1.png" %}"/>
    <p class="poa-network-aGV">POA Network  </p>
  </div>
  <div class="property-1variant27-3Qy">
    <img class="image-95-9D7" src="{% static "./assets/image-95-YHT.png" %}"/>
    <p class="iotex-de5">IoTex  </p>
  </div>
  <div class="property-1variant28-ivR">
    <img class="image-94-cW1" src="{% static "./assets/image-94-LkM.png" %}"/>
    <p class="wanchain-KQR">Wanchain</p>
  </div>
  <div class="property-1variant29-oaV">
    <img class="image-88-JGM" src="{% static "./assets/image-88-YiZ.png" %}"/>
    <p class="aeternity-oD7">Aeternity</p>
  </div>
  <div class="property-1variant30-Ua9">
    <img class="image-87-NfX" src="{% static "./assets/image-87-Z7b.png" %}"/>
    <p class="nebulas-UCm">Nebulas</p>
  </div>
  <div class="property-1variant31-MnM">
    <img class="image-49-3fB" src="{% static "./assets/image-49-PJV.png" %}"/>
    <p class="xrp-9TK">XRP  </p>
  </div>
  <div class="property-1variant32-ddP">
    <img class="image-54-iPw" src="{% static "./assets/image-54.png" %}"/>
    <p class="cosmos-d17">Cosmos  </p>
  </div>
  <div class="property-1variant33-Vp1">
    <img class="image-59-PPb" src="{% static "./assets/image-59-8eZ.png" %}"/>
    <p class="elrond-VSd">Elrond</p>
  </div>
  <div class="property-1variant34-B4Z">
    <img class="image-47-Gbo" src="{% static "./assets/image-47-JDs.png" %}"/>
    <p class="solana-BTs">Solana</p>
  </div>
  <div class="property-1variant35-TgH">
    <img class="image-53-WuT" src="{% static "./assets/image-53-s1o.png" %}"/>
    <p class="tron-Qjw">Tron</p>
  </div>
  <div class="property-1variant36-tf7">
    <img class="image-58-miu" src="{% static "./assets/image-58-H97.png" %}"/>
    <p class="zilliqa-smw">Zilliqa</p>
  </div>
  <div class="property-1variant37-kaq">
    <img class="image-64-STf" src="{% static "./assets/image-64-CUd.png" %}"/>
    <p class="zelcore-wvD">Zelcore</p>
  </div>
  <div class="property-1variant38-EPX">
    <img class="image-63-7TK" src="{% static "./assets/image-63-oEu.png" %}"/>
    <p class="bitkeep-24V">BitKeep  </p>
  </div>
  <div class="property-1variant39-tsP">
    <img class="image-69-zQd" src="{% static "./assets/image-69-BCZ.png" %}"/>
    <p class="fortmatic-V6V">FortMatic</p>
  </div>
  <div class="property-1variant40-a7w">
    <img class="image-68-ffB" src="{% static "./assets/image-68-8ey.png" %}"/>
    <p class="digitex-my7">Digitex</p>
  </div>
  <div class="property-1variant41-eGD">
    <img class="image-73-wWD" src="{% static "./assets/image-73-7xh.png" %}"/>
    <p class="torus-qrV"> Torus</p>
  </div>
  <div class="property-1variant42-UPf">
    <img class="image-78-W5T" src="{% static "./assets/image-78-XQ9.png" %}"/>
    <p class="enjin-zuj">Enjin</p>
  </div>
  <div class="property-1variant43-sCq">
    <img class="image-83-9AM" src="{% static "./assets/image-83-NTF.png" %}"/>
    <p class="callisto-Sv9">Callisto</p>
  </div>
  <div class="property-1variant44-8ny">
    <img class="image-82-ou7" src="{% static "./assets/image-82-1YR.png" %}"/>
    <p class="bitpay-Jqs">BitPay</p>
  </div>
  <div class="property-1variant45-zCu">
    <img class="image-51-t3P" src="{% static "./assets/image-51-gz9.png" %}"/>
    <p class="tezos-n8m">Tezos</p>
  </div>
  <div class="property-1variant46-G3w">
    <img class="image-77-kzh" src="{% static "./assets/image-77-jT3.png" %}"/>
    <p class="skale-s3j"> Skale</p>
  </div>
  <div class="property-1variant47-Yff">
    <img class="image-93-EYV" src="{% static "./assets/image-93-UFX.png" %}"/>
    <p class="harmony-LrR">Harmony</p>
  </div>
  <div class="property-1variant49-EB7">
    <img class="image-92-vZj" src="{% static "./assets/image-92-K4R.png" %}"/>
    <p class="kin-SHB">Kin</p>
  </div>
  <div class="property-1variant49-j1P">
    <img class="image-98-R97" src="{% static "./assets/image-98-vx5.png" %}"/>
    <p class="nano-KEV">Nano</p>
  </div>
  <div class="property-1variant50-Pk9">
    <img class="image-72-5ss" src="{% static "./assets/image-72-vqj.png" %}"/>
    <p class="scatter-wallet-Q9T">Scatter wallet</p>
  </div>
  <div class="property-1variant51-gMs">
    <img class="image-62-A29" src="{% static "./assets/image-62-fED.png" %}"/>
    <p class="coin98-fjb">Coin98</p>
  </div>
  <div class="property-1variant52-9uf">
    <img class="image-67-TQZ" src="{% static "./assets/image-67-SAH.png" %}"/>
    <p class="defiat-ZiV">Defiat</p>
  </div>
  <div class="property-1variant53-SnH">
    <img class="image-61-wj3" src="{% static "./assets/image-61-SK7.png" %}"/>
    <p class="ontology-SQu">Ontology</p>
  </div>
  <div class="property-1variant54-7mw">
    <img class="image-56-cTo" src="{% static "./assets/image-56-zpD.png" %}"/>
    <p class="filecoin-vUV">Filecoin</p>
  </div>
  <div class="property-1variant55-bad">
    <img class="image-66-61b" src="{% static "./assets/image-66-Kkh.png" %}"/>
    <p class="authereum-PWV">Authereum</p>
  </div>
  <div class="property-1variant56-GqB">
    <img class="image-71-xxu" src="{% static "./assets/image-71-rKX.png" %}"/>
    <p class="sumcoin-rYV">Sumcoin</p>
  </div>
  <div class="property-1variant57-LyT">
    <img class="image-81-RV7" src="{% static "./assets/image-81-sy7.png" %}"/>
    <p class="atwallet-jEu">AtWallet</p>
  </div>
  <div class="property-1variant58-Qrq">
    <img class="image-76-iMj" src="{% static "./assets/image-76-2ah.png" %}"/>
    <p class="portis-1rd">Portis</p>
  </div>
  <div class="property-1variant59-6t5">
    <img class="image-86-b49" src="{% static "./assets/image-86-KLR.png" %}"/>
    <p class="fio-VvD">Fio</p>
  </div>
  <div class="property-1variant60-nuK">
    <img class="image-91-5dX" src="{% static "./assets/image-91-ox9.png" %}"/>
    <p class="nimiq-PeD">Nimiq</p>
  </div>
  <div class="property-1variant61-5X3">
    <img class="image-96-MjT" src="{% static "./assets/image-96-YgM.png" %}"/>
    <p class="vechain-sC1">VeChain</p>
  </div>
  <div class="property-1variant62-MN5">
    <img class="image-97-3kh" src="{% static "./assets/image-97-G2H.png" %}"/>
    <p class="tomo-chain-AKX">Tomo Chain</p>
  </div>
  <div class="property-1variant63-eEh">
    <img class="image-46-vT7" src="{% static "./assets/image-46-fgR.png" %}"/>
    <p class="avalanche-q4H">Avalanche</p>
  </div>
  <div class="property-1variant64-ids">
    <img class="image-57-1N5" src="{% static "./assets/image-57-Ar9.png" %}"/>
    <p class="ethereum-classic-7vu">Ethereum Classic</p>
  </div>
  <div class="property-1variant65-oHw">
    <img class="image-52-tKP" src="{% static "./assets/image-52-dbK.png" %}"/>
    <p class="theta-zdK">Theta</p>
  </div>
  <div class="property-1variant66-exm">
    <img class="image-48-9uX" src="{% static "./assets/image-48-CXP.png" %}"/>
    <p class="polkadot-rJ9">Polkadot</p>
  </div>
</div>
</body>