<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Frame 55</title>
  <link rel="stylesheet" href="{% static "./styles/frame-55.css" %}"/>
</head>
<body>
<div class="frame-55-KaV">
  <img class="image-2-ExM" src="{% static "./assets/image-2-Yfw.png" %}"/>
  <img class="frame-55-j8R" src="{% static "./assets/frame-55.png" %}"/>
</div>
</body>