<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Frame 54</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="{% static "./styles/frame-54.css" %}"/>
</head>
<body>
<div class="frame-54-s2M">
  <img class="frame-55-k69" src="{% static "./assets/frame-55-1LZ.png" %}"/>
  <img class="image-2-DkR" src="{% static "./assets/image-2-siD.png" %}"/>
  <p class="connecting-may-take-a-few-seconds-KoT">connecting may take a few seconds</p>
</div>
</body>