<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Frame 53</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="{% static "./styles/frame-53.css" %}"/>
</head>
<body>
<div class="frame-53-irH">
  <img class="frame-55-kHB" src="{% static "./assets/frame-55-bAM.png" %}"/>
  <img class="image-2-DRf" src="{% static "./assets/image-2-Scm.png" %}"/>
  <p class="connecting-may-take-a-few-seconds-71F">connecting may take a few seconds</p>
</div>
</body>