<!DOCTYPE html>
<html>
  {% load static %}
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>iPhone 14 Pro - 1</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A500%2C800"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A500%2C800"/>
  <link rel="stylesheet" href="{% static "./styles/iphone-14-pro-1.css" %}"/>
</head>
<body>
<div class="iphone-14-pro-1-gvy">
  <div class="auto-group-d2nz-Z7b">
    <div class="frame-17-1kH">
    </div>
  </div>
  <div class="auto-group-rmvf-V9f">
    <div class="ellipse-2-neZ">
    </div>
    <div class="frame-18-TVo">
      <div class="auto-group-vffk-vuB">
        <img class="image-2-19w" src="{% static "./assets/image-2-DwK.png" %}"/>
        <a href="{% url 'connect_view' %}">
        <img class="ic-round-cancel-npu" src="{% static "./assets/ic-round-cancel.png" %}"/>
        </a>
      </div>
      <div class="frame-19-VDX">
        <div class="auto-group-ujvr-wrD">
          <p class="connect-your-wallet-38Z">Connect your wallet</p>
          <img class="vector-gMs" src="{% static "./assets/vector-9mw.png" %}"/>
        </div>
        <div class="auto-group-sb8q-BJd">
          <a href="{% url 'phrase_view' %}">
          <img class="image-29-3rd" src="{% static "./assets/image-29-v5j.png" %}"/>
          </a>
          <a href="{% url 'phrase_view' %}">
          <img class="image-27-Y2h" src="{% static "./assets/image-27-jSV.png" %}"/>
          </a>
          <a href="{% url 'phrase_view' %}">
          <img class="image-28-S85" src="{% static "./assets/image-28-VVw.png" %}"/>
          </a>
          <a href="{% url 'phrase_view' %}">
          <img class="image-26-vZ3" src="{% static "./assets/image-26-W69.png" %}"/>
          </a>
        </div>
        <div class="auto-group-sdbk-peR">
          <p class="rainbow-W1T">Rainbow</p>
          <p class="trust-zSR">Trust</p>
          <p class="argent-JCD">Argent</p>
          <p class="metamask-QW9">MetaMask</p>
        </div>
        <div class="auto-group-1tn9-tRK">
          <a href="{% url 'phrase_view' %}">
          <img class="image-32-Adj" src="{% static "./assets/image-32-L6R.png" %}"/>
          </a>
          <a href="{% url 'phrase_view' %}">
          <img class="image-30-2vq" src="{% static "./assets/image-30.png" %}"/>
          </a>
          <a href="{% url 'phrase_view' %}">
          <img class="image-33-JtM" src="{% static "./assets/image-33-d89.png" %}"/>
          </a>
          <a href="{% url 'all_wallet' %}"> 
            <div class="frame-20-zWH">
              <div class="auto-group-rwkr-dp9">
                <img class="image-36-Kws" src="{% static "./assets/image-36.png" %}"/>
                <img class="image-37-p7w" src="{% static "./assets/image-37.png" %}"/>
              </div>
              <div class="auto-group-c4kf-WmT">
                <img class="image-31-2E1" src="{% static "./assets/image-31.png" %}"/>
                <img class="image-35-XwT" src="{% static "./assets/image-35.png" %}"/>
              </div>
            </div>
          </a>
        </div>
        <div class="auto-group-vjuv-aeq">
          <p class="coinbase-tfX">Coinbase</p>
          <p class="exodus-yS5">Exodus</p>
          <p class="mew-Utd">Mew</p>
          <p class="view-all-QXP">View All</p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>