<!DOCTYPE html>
<html>
  {% load static %}
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>iPhone 14 Pro Max - 1</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A800"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A800"/>
  <link rel="stylesheet" href="{% static "./styles/iphone-14-pro-max-1.css" %}"/>
</head>
<body>
<div class="iphone-14-pro-max-1-y7T">
  <img class="image-4-ejP" src="{% static "./assets/image-4-xvH.png" %}"/>
  <div class="frame-18-wTb">
    <div class="auto-group-akz7-ESh">
      <img class="image-2-KDF" src="{% static "./assets/image-2-WNy.png" %}"/>
      <a href="{% url 'index' %}">
      <img class="vector-2NZ" src="{% static "./assets/vector-LC5.png" %}"/>
      </a>
    </div>
    <div class="frame-19-L8M">
      <p class="connect-your-wallet-manually-with-walletconnect-DC9">Connect your wallet manually with WalletConnect</p>
      <div class="frame-54-z6R"><a href="{% url 'connect_manually' %}">Connect Manually</a></div>
    </div>
  </div>
</div>
</body>