<!DOCTYPE html>
<html>
  {% load static %}
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Keystore </title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="{% static "./styles/keystore-.css" %}"/>
</head>
<body>
<div class="keystore--sRX">
  <div class="frame-56-wwB">
    <img class="line-3-Sd3" src="{% static "REPLACE_IMAGE:99:169" %}"/>
    <p class="back-Wcu">Back</p>
  </div>
  <div class="line-4-cR3">
  </div>
  <div class="auto-group-uniq-gQu">
    <p class="phrase-xtD">Phrase</p>
    <div class="frame-57-gpD">Keystore JSON</div>
    <p class="private-key-VFs">Private Key</p>
  </div>
  <div class="auto-group-wrto-oXT">Trust Wallet</div>
  <div class="auto-group-g78q-KPK">Password</div>
  <div class="auto-group-rn6z-6YV">Keystore JSON</div>
  <p class="several-lines-of-text-beginning-with-plus-the-password-you-used-to-encrypt-it-vGd">Several lines of text beginning with “{...}” plus the password you used to encrypt it.</p>
  <div class="auto-group-wrfk-GE1">IMPORT</div>
</div>
</body>