<!DOCTYPE html>
<html>
  {% load static %}
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>material-symbols:qr-code-rounded</title>
  <link rel="stylesheet" href="{% static "./styles/material-symbols-qr-code-rounded.css" %}"/>
</head>
<body>
<img class="material-symbols-qr-code-rounded-rwf" src="{% static "./assets/material-symbols-qr-code-rounded.png" %}"/>
</body>