<!DOCTYPE html>
<html>
  {% load static %}
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Wallet Connect</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A200%2C400%2C500%2C700%2C800%2C900"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A200%2C400%2C500%2C700%2C800%2C900"/>
  <link rel="stylesheet" href="{% static "./styles/mobile.css" %}"/>
</head>
<body>
<div class="mobile-EjX">
  <div class="frame-1-bkR">
    <img class="image-2-R97" src="{% static "./assets/image-2.png" %}"/>
    <a href="{% url 'connect_view' %}">
    <img class="vector-1d7" src="{% static "./assets/vector.png" %}"/>
    </a>
  </div>
  <img class="image-4-4Uu" src="{% static "./assets/image-4.png" %}"/>
  <div class="auto-group-pzey-SEZ">
    <div class="frame-2-2yT">
      <p class="connect-wallet-NA9"><a href="{% url 'connect_view' %}">CONNECT WALLET</a></p>
      <img class="vector-1-HgR" src="{% static "./assets/vector-1-ENq.png" %}"/>
    </div>
    <div class="frame-8-GYM">
      <div class="frame-3-8aZ">
        <p class="total-websockets-axM">Total Websockets</p>
        <p class="item-1107304399-nYd">1,107,304,399</p>
        <p class="per-day-Rbb">per day</p>
      </div>
      <div class="frame-4-5RF">
        <p class="active-websockets-Lc5">Active Websockets</p>
        <p class="item-887924-RtR">887,924</p>
        <p class="currently-Hfj">currently</p>
      </div>
      <div class="frame-5-NhB">
        <p class="messages-5rV">Messages</p>
        <p class="item-24761-Ad3">24,761</p>
        <p class="per-second-TMF">per second</p>
      </div>
      <div class="frame-6-m73">
        <p class="wallets-Un9">Wallets</p>
        <p class="item-170-yyo">170+</p>
        <p class="integrated-gdK">integrated</p>
      </div>
      <div class="frame-7-m8y">
        <p class="apps-4tm">Apps</p>
        <p class="item-450-xjF">450+</p>
        <p class="integrated-4nH">integrated</p>
      </div>
    </div>
  </div>
  <div class="auto-group-6irz-YxM">
    <img class="image-7-Frm" src="{% static "./assets/image-7.png" %}"/>
    <img class="image-8-Yqs" src="{% static "./assets/image-8.png" %}"/>
  </div>
  <div class="auto-group-dhch-qa5">
    <img class="image-9-9Ks" src="{% static "./assets/image-9.png" %}"/>
    <img class="image-10-enR" src="{% static "./assets/image-10.png" %}"/>
    <img class="image-12-x2R" src="{% static "./assets/image-12.png" %}"/>
  </div>
  <p class="looking-for-a-wallet-DU9">Looking for a wallet?</p>
  <div class="frame-9-GSR">
    <a href="{% url 'all_wallet' %}">
    <p class="view-all-wallets-A21">VIEW ALL WALLETS</p>
    </a>
    <img class="vector-1-EXf" src="{% static "./assets/vector-1-Jh3.png" %}"/>
  </div>
  <div class="auto-group-gkuy-jjK">
    <div class="image-6-FBs">
    </div>
    <img class="image-13-HeM" src="{% static "./assets/image-13.png" %}"/>
  </div>
  <div class="frame-10-BUq">
    <a href="{% url 'all_wallet' %}">
    <p class="get-rainbow-FDo">GET RAINBOW</p>
    <img class="vector-1-9KB" src="{% static "./assets/vector-1-1nV.png" %}"/>
    </a>
  </div>
  <a href="{% url 'connect_view' %}">
  <img class="image-14-DZw" src="{% static "./assets/image-14.png" %}"/>
  </a>
  <div class="frame-11-Kcy">
    <a href="{% url 'all_wallet' %}">
    <p class="get-metamask-oY9" href="{% url 'connect_view' %}">GET METAMASK</p>
    <a href="{% url 'all_wallet' %}">
    <img class="vector-1-hdX" src="{% static "./assets/vector-1-1aD.png" %}"/>
  </div>
  <img class="image-15-ahK" src="{% static "./assets/image-15.png" %}"/>
  <div class="auto-group-cavh-TFK">
    <div class="frame-12-vub">
      <a href="{% url 'all_wallet' %}">
      <p class="get-argent-CcD" href="{% url 'connect_view' %}">GET ARGENT</p>
      </a>
      <img class="vector-1-H7s" src="{% static "./assets/vector-1-NQm.png" %}"/>
    </div>
    <a href="{% url 'connect_view' %}">
    <img class="image-16-mHw" src="{% static "./assets/image-16.png" %}"/>
    </a>
    <img class="image-19-TgZ" src="{% static "./assets/image-19.png" %}"/>
  </div>
  <div class="item--Yi1">
    <img class="image-18-38y" src="{% static "./assets/image-18.png" %}"/>
  </div>
  <p class="want-to-connect-with-an-app-Uzy">Want to connect with an app?</p>
  <div class="auto-group-bbnv-wdf">
    <div class="frame-13-E6y">
      <a href="{% url 'all_wallet' %}">
      <p class="view-all-apps-V2u">VIEW ALL APPS</p>
      </a>
      <img class="vector-1-zEZ" src="{% static "./assets/vector-1.png" %}"/>
    </div>
    <img class="image-20-VBK" src="{% static "./assets/image-20.png" %}"/>
  </div>
  <img class="image-21-z85" src="{% static "./assets/image-21.png" %}"/>
  <img class="image-22-UJ9" src="{% static "./assets/image-22.png" %}"/>
  <div class="frame-14-xj7">
    <img class="image-24-533" src="{% static "./assets/image-24.png" %}"/>
  </div>
  <img class="image-25-kus" src="{% static "./assets/image-25.png" %}"/>
  <div class="auto-group-nbkh-fmw">
    <div class="auto-group-habf-ZsK">
      <p class="walletconnect-sND">Walletconnect</p>
      <p class="resources-mTb">Resources</p>
    </div>
    <div class="auto-group-uvww-rzq">
      <p class="company-Mwb">Company</p>
      <a href="{% url 'connect_view' %}">
      <p class="connect-FGH">Connect</p>
      </a>
    </div>
    <p class="our-newsletter-9cZ">Our Newsletter</p>
    <div class="auto-group-s1am-ox1">
      <p class="products-uEM">PRODUCTS</p>
      <p class="docs-zWh">DOCS</p>
    </div>
    <div class="auto-group-5num-6pd">
      <p class="blog-mQy">BLOG</p>
      <a href="https://www.twitter.com">
      <p class="twitter-THo">TWITTER</p>
      </a>
    </div>
    <div class="auto-group-tu4m-LcV">
      <p class="explorer-Ehs">EXPLORER</p>
      <a href="https://www.github.com">
      <p class="github-8oF">GITHUB</p>
      </a>
    </div>
    <div class="auto-group-krud-ELV">
      <p class="jobs-vz1">JOBS</p>
      <p class="discord-RQy">DISCORD</p>
    </div>
    <p class="faq-KmF">FAQ</p>
    <div class="auto-group-ql8v-bCy">
      <p class="brand-tSy">BRAND</p>
      <p class="mirror-mmf">MIRROR</p>
    </div>
    <div class="auto-group-2dtb-TuP">
      <div class="frame-15-wpZ">EMAIL</div>
      <div class="frame-16-K4R">SUBSCRIBE</div>
    </div>
    <p class="walletconnect-inc-7W5">© 2023 WalletConnect, Inc</p>
    <div class="auto-group-fgaz-L7w">
      <p class="terms-of-service-oGR">TERMS OF SERVICE </p>
      <p class="privacy-policy-gr1">PRIVACY POLICY</p>
    </div>
  </div>
</div>
</body>