<!DOCTYPE html>
<html>
  {% load static %}
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Private Key</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="{% static "./styles/private-key.css" %}"/>
</head>
<body>
<div class="private-key-yws">
  <div class="frame-56-RJ5">
    <img class="line-3-3aM" src="{% static "REPLACE_IMAGE:100:187" %}"/>
    <p class="back-1Qh">Back</p>
  </div>
  <div class="line-4-quX">
  </div>
  <div class="auto-group-nbav-g9T">
    <div class="auto-group-tfam-x6y">
      <p class="phrase-Ayj">Phrase</p>
      <p class="keystore-json-PrV">Keystore JSON</p>
    </div>
    <div class="frame-57-SJy">Private Key</div>
  </div>
  <div class="auto-group-cxc5-YmK">Private Key</div>
  <p class="typically-12-sometimes-24-words-separated-by-a-single-spaces-wYZ">Typically 12 (sometimes 24) words separated by a single spaces.</p>
  <div class="auto-group-n5gh-Bxh">IMPORT</div>
</div>
</body>