
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 38.1rem;
}.frame-21-z5b {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #9747ff;
  border-radius: 0.5rem;
  padding: 2rem;
  width: 100%;
  align-items: center;

  .property-1default-XDw {
    box-sizing: border-box;
    padding: 1.405rem 6.6rem 1.405rem 2.427rem;
    width: 100%;
    background-color: #ffffff;
    flex-shrink: 0;
    margin-bottom: 2rem;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 0.8rem;

    .image-26-Pmw {
      flex-shrink: 0;
      margin-right: 2.9375rem;
      width: 5.2363rem;
      height: 5.2363rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 1.1636rem;
    }
    .meta-mask-wallet-fzM {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-top: 0.0734rem;
      font-size: 2.0434rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
    }
  }
  .property-1variant2-JXX {
    padding: 1.454rem 8.9rem 0.992rem 2.4rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 0.8rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;

    .image-29-P3B {
      margin-right: 2.6004rem;
      width: 5.6rem;
      height: 5.6rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 1.2rem;
      flex-shrink: 0;
    }
    .rainbow-wallet-g2H {
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.3884rem;
      font-size: 2.0434rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .property-1variant3-Lcd {
    position: relative;
    background-color: #ffffff;
    border-radius: 0.8rem;
    flex-shrink: 0;
    padding: 1.408rem 12.2rem 1.038rem 2.4rem;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    box-sizing: border-box;

    .image-27-cq3 {
      margin-right: 2.6004rem;
      width: 5.6rem;
      height: 5.6rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 1.2rem;
      flex-shrink: 0;
    }
    .trust-wallet-Jhs {
      font-size: 2.0434rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.2962rem;
    }
  }
  .property-1variant4-avH {
    padding: 1.462rem 10.7rem 1.184rem 2.4rem;
    overflow: hidden;
    position: relative;
    align-items: center;
    background-color: #ffffff;
    border-radius: 0.8rem;
    flex-shrink: 0;
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    box-sizing: border-box;

    .image-28-UVs {
      margin-right: 2.8004rem;
      width: 5.4rem;
      height: 5.4rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 1.2rem;
      flex-shrink: 0;
    }
    .argent-wallet-ANh {
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.2041rem;
      font-size: 2.0434rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .property-1variant5-2fo {
    display: flex;
    border-radius: 0.8rem;
    padding: 1.416rem 8.1rem 1.23rem 2.4rem;
    overflow: hidden;
    width: 100%;
    position: relative;
    align-items: center;
    background-color: #ffffff;
    flex-shrink: 0;
    margin-bottom: 2rem;
    box-sizing: border-box;

    .image-32-JtD {
      vertical-align: top;
      border-radius: 1.2rem;
      flex-shrink: 0;
      margin-right: 2.8004rem;
      width: 5.4rem;
      height: 5.4rem;
      object-fit: cover;
    }
    .coinbase-wallet-o4H {
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.112rem;
      font-size: 2.0434rem;
      font-weight: 400;
    }
  }
  .property-1variant6-GTf {
    position: relative;
    align-items: center;
    margin-bottom: 2rem;
    box-sizing: border-box;
    padding: 1.37rem 10.1rem 1.276rem 2.4rem;
    overflow: hidden;
    flex-shrink: 0;
    width: 100%;
    display: flex;
    background-color: #ffffff;
    border-radius: 0.8rem;

    .image-30-Mk1 {
      object-fit: cover;
      vertical-align: top;
      border-radius: 1.2rem;
      flex-shrink: 0;
      margin-right: 2.8004rem;
      width: 5.4rem;
      height: 5.4rem;
    }
    .exodus-wallet-FqP {
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.0198rem;
      font-size: 2.0434rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .property-1variant7-8eH {
    margin-bottom: 2rem;
    position: relative;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 0.8rem;
    box-sizing: border-box;
    padding: 1.424rem 12.5rem 1.222rem 2.4rem;
    width: 100%;
    overflow: hidden;

    .image-33-Dfj {
      height: 5.4rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 1.2rem;
      flex-shrink: 0;
      margin-right: 2.8004rem;
      width: 5.4rem;
    }
    .mew-wallet-HvV {
      flex-shrink: 0;
      margin-bottom: 0.1277rem;
      font-size: 2.0434rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .property-1variant8-a8u {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 2rem;
    box-sizing: border-box;
    padding: 1.378rem 10.8rem 1.268rem 2.4rem;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 0.8rem;

    .image-45-fRF {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2.8544rem;
      width: 5.346rem;
      height: 5.4rem;
    }
    .bakery-swap-mUH {
      flex-shrink: 0;
      margin-bottom: 0.0359rem;
      font-size: 2.0434rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .property-1variant9-qyw {
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 0.8rem;
    margin-bottom: 2rem;
    padding: 1.432rem 10.2rem 1.214rem 2.4rem;
    display: flex;
    align-items: center;

    .image-44-8CM {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2.8004rem;
      width: 5.4rem;
      height: 5.4rem;
    }
    .opensea-nft-pqs {
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.1439rem;
      font-size: 2.0434rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .property-1variant10-WCu {
    width: 100%;
    overflow: hidden;
    display: flex;
    background-color: #ffffff;
    border-radius: 0.8rem;
    flex-shrink: 0;
    padding: 1.386rem 3.3rem 1.26rem 2.4rem;
    box-sizing: border-box;
    position: relative;
    align-items: center;
    margin-bottom: 2rem;

    .image-43-oC1 {
      width: 5.7942rem;
      height: 5.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2.4062rem;
    }
    .binance-smart-chain-uF3 {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.0518rem;
      font-size: 2.0434rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
    }
  }
  .property-1variant11-n3w {
    background-color: #ffffff;
    border-radius: 0.8rem;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.44rem 7.8rem 1.206rem 2.4rem;
    width: 100%;
    overflow: hidden;
    margin-bottom: 2rem;
    position: relative;
    display: flex;
    align-items: center;

    .image-42-Gjo {
      margin-right: 2.8004rem;
      width: 5.4rem;
      height: 5.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .pancake-wallet-MmF {
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.1597rem;
      font-size: 2.0434rem;
      font-weight: 400;
    }
  }
  .property-1variant12-Ea9 {
    padding: 1.394rem 8.8rem 1.253rem 2.4rem;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 2rem;
    box-sizing: border-box;
    width: 100%;
    background-color: #ffffff;
    border-radius: 0.8rem;

    .image-41-LNH {
      margin-right: 2.7919rem;
      width: 5.4084rem;
      height: 5.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .uniswap-wallet-3Xb {
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.0676rem;
      font-size: 2.0434rem;
      font-weight: 400;
    }
  }
  .property-1variant13-7nM {
    padding: 1.448rem 11.6rem 1.199rem 2.4rem;
    width: 100%;
    background-color: #ffffff;
    border-radius: 0.8rem;
    flex-shrink: 0;
    align-items: center;
    margin-bottom: 2rem;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    display: flex;

    .image-40-R2M {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2.8004rem;
      width: 5.4rem;
      height: 5.4rem;
      object-fit: cover;
    }
    .jaxx-liberty-7vm {
      font-size: 2.0434rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.1755rem;
    }
  }
  .property-1variant14-CBX {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 1.401rem 11.1rem 1.245rem 2.4rem;
    box-sizing: border-box;
    position: relative;
    background-color: #ffffff;
    border-radius: 0.8rem;
    flex-shrink: 0;
    margin-bottom: 2rem;

    .image-50-gcV {
      margin-right: 2.3705rem;
      width: 5.8299rem;
      height: 5.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .stellar-wallet-BZF {
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.0834rem;
      font-size: 2.0434rem;
    }
  }
  .property-1variant15-4d3 {
    align-items: center;
    border-radius: 0.8rem;
    margin-bottom: 2rem;
    padding: 1.355rem 12.5rem 1.291rem 2.4rem;
    overflow: hidden;
    position: relative;
    display: flex;
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;

    .image-55-YYD {
      margin-right: 3.492rem;
      width: 4.7084rem;
      height: 5.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .kava-wallet-dZf {
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-top: 0.0086rem;
      font-size: 2.0434rem;
      font-weight: 400;
    }
  }
  .property-1variant16-un5 {
    background-color: #ffffff;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    position: relative;
    align-items: center;
    border-radius: 0.8rem;
    flex-shrink: 0;
    margin-bottom: 2rem;
    padding: 1.409rem 16rem 1.237rem 2.4rem;
    width: 100%;

    .image-60-CmB {
      margin-right: 2.8004rem;
      width: 5.4rem;
      height: 5.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .waves-7NM {
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.0992rem;
      font-size: 2.0434rem;
      font-weight: 400;
      line-height: 1.2125;
    }
  }
  .property-1variant17-nDb {
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    margin-bottom: 2rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-radius: 0.8rem;
    flex-shrink: 0;
    padding: 1.363rem 12.4rem 1.283rem 2.4rem;
    width: 100%;

    .image-65-GuT {
      margin-right: 2.8004rem;
      width: 5.4rem;
      height: 5.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .flare-wallet-mrD {
      flex-shrink: 0;
      margin-bottom: 0.0071rem;
      font-size: 2.0434rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .property-1variant18-pJh {
    margin-bottom: 2rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 1.417rem 12.2rem 1.229rem 2.4rem;
    position: relative;
    align-items: center;
    border-radius: 0.8rem;
    flex-shrink: 0;

    .image-70-htH {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2.8004rem;
      width: 5.4rem;
      height: 5.4rem;
    }
    .math-wallet-ogR {
      flex-shrink: 0;
      margin-bottom: 0.1149rem;
      font-size: 2.0434rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .property-1variant19-gkD {
    width: 100%;
    position: relative;
    display: flex;
    background-color: #ffffff;
    margin-bottom: 2rem;
    box-sizing: border-box;
    padding: 1.371rem 16.7rem 1.275rem 2.4rem;
    overflow: hidden;
    align-items: center;
    border-radius: 0.8rem;
    flex-shrink: 0;

    .image-75-yjK {
      margin-right: 2.8004rem;
      width: 5.4rem;
      height: 5.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .trezor-5GZ {
      flex-shrink: 0;
      margin-bottom: 0.0228rem;
      font-size: 2.0434rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .property-1variant20-ME5 {
    margin-bottom: 2rem;
    box-sizing: border-box;
    position: relative;
    display: flex;
    background-color: #ffffff;
    flex-shrink: 0;
    padding: 1.425rem 11.3rem 1.221rem 2.4rem;
    width: 100%;
    overflow: hidden;
    align-items: center;
    border-radius: 0.8rem;

    .image-80-3ch {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 3.0614rem;
      width: 5.139rem;
      height: 5.4rem;
      object-fit: cover;
    }
    .guard-wallet-Z5F {
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.1307rem;
      font-size: 2.0434rem;
    }
  }
  .property-1variant21-Rt9 {
    border-radius: 0.8rem;
    padding: 1.379rem 12.8rem 1.267rem 2.4rem;
    width: 100%;
    overflow: hidden;
    align-items: center;
    background-color: #ffffff;
    flex-shrink: 0;
    margin-bottom: 2rem;
    box-sizing: border-box;
    position: relative;
    display: flex;

    .image-74-7ky {
      margin-right: 2.8004rem;
      width: 5.4rem;
      height: 5.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .squarelink-pvH {
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.0385rem;
      font-size: 2.0434rem;
    }
  }
  .property-1variant22-6cu {
    border-radius: 0.8rem;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    background-color: #ffffff;
    flex-shrink: 0;
    margin-bottom: 2rem;
    padding: 1.433rem 17.6rem 1.213rem 2.4rem;
    overflow: hidden;

    .image-79-PM7 {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2.8004rem;
      width: 5.4rem;
      height: 5.4rem;
      object-fit: cover;
    }
    .aave-gr1 {
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.1464rem;
      font-size: 2.0434rem;
      font-weight: 400;
    }
  }
  .property-1variant23-9zV {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding: 1.387rem 15.2rem 1.259rem 2.4rem;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 0.8rem;
    flex-shrink: 0;
    margin-bottom: 2rem;

    .image-85-TEV {
      flex-shrink: 0;
      margin-right: 2.8004rem;
      width: 5.4rem;
      height: 5.4rem;
      object-fit: cover;
      vertical-align: top;
    }
    .gochain-jxh {
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.0543rem;
      font-size: 2.0434rem;
      font-weight: 400;
    }
  }
  .property-1variant24-dHP {
    border-radius: 0.8rem;
    flex-shrink: 0;
    margin-bottom: 2rem;
    padding: 1.441rem 12.9rem 1.205rem 2.4rem;
    width: 100%;
    overflow: hidden;
    background-color: #ffffff;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;

    .image-90-vGV {
      height: 5.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 3.0409rem;
      width: 5.1595rem;
    }
    .aion-wallet-pMs {
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.1621rem;
      font-size: 2.0434rem;
    }
  }
  .property-1variant25-hgZ {
    box-sizing: border-box;
    padding: 1.395rem 8.9rem 1.251rem 2.4rem;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 2rem;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 0.8rem;

    .image-89-ni1 {
      margin-right: 3.4861rem;
      width: 4.7143rem;
      height: 5.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .thunder-token-W8D {
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.07rem;
      font-size: 2.0434rem;
    }
  }
  .property-1variant26-PSu {
    margin-bottom: 2rem;
    position: relative;
    background-color: #ffffff;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    border-radius: 0.8rem;
    box-sizing: border-box;
    padding: 1.449rem 9.4rem 1.197rem 2.4rem;
    width: 100%;
    overflow: hidden;

    .image-84-Gmb {
      width: 5.5493rem;
      height: 5.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2.6511rem;
    }
    .poa-network-aGV {
      margin-bottom: 0.1778rem;
      font-size: 2.0434rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .property-1variant27-3Qy {
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    margin-bottom: 2rem;
    padding: 1.403rem 17.2rem 1.243rem 2.4rem;
    border-radius: 0.8rem;
    flex-shrink: 0;

    .image-95-9D7 {
      margin-right: 2.8004rem;
      width: 5.4rem;
      height: 5.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .iotex-de5 {
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.0857rem;
      font-size: 2.0434rem;
    }
  }
  .property-1variant28-ivR {
    margin-bottom: 2rem;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 0.8rem;
    flex-shrink: 0;
    padding: 1.357rem 14.1rem 1.29rem 2.4rem;
    position: relative;
    display: flex;
    align-items: center;

    .image-94-cW1 {
      height: 5.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2.8004rem;
      width: 5.4rem;
    }
    .wanchain-KQR {
      flex-shrink: 0;
      margin-top: 0.0064rem;
      font-size: 2.0434rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .property-1variant29-oaV {
    border-radius: 0.8rem;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.41rem 14.6rem 1.236rem 2.4rem;
    overflow: hidden;
    position: relative;
    display: flex;
    margin-bottom: 2rem;
    width: 100%;
    align-items: center;
    background-color: #ffffff;

    .image-88-JGM {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2.8004rem;
      width: 5.4rem;
      height: 5.4rem;
    }
    .aeternity-oD7 {
      margin-bottom: 0.1014rem;
      font-size: 2.0434rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .property-1variant30-Ua9 {
    padding: 1.364rem 15.6rem 1.282rem 2.4rem;
    position: relative;
    background-color: #ffffff;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 0.8rem;
    flex-shrink: 0;
    margin-bottom: 2rem;

    .image-87-NfX {
      height: 5.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2.8004rem;
      width: 5.4rem;
    }
    .nebulas-UCm {
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.0093rem;
      font-size: 2.0434rem;
      font-weight: 400;
      line-height: 1.2125;
    }
  }
  .property-1variant31-MnM {
    margin-bottom: 2rem;
    width: 100%;
    position: relative;
    display: flex;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 1.418rem 18.4rem 1.228rem 2.4rem;
    overflow: hidden;
    align-items: center;
    border-radius: 0.8rem;
    flex-shrink: 0;

    .image-49-3fB {
      height: 5.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2.8004rem;
      width: 5.4rem;
    }
    .xrp-9TK {
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.1164rem;
      font-size: 2.0434rem;
      font-weight: 400;
    }
  }
  .property-1variant32-ddP {
    padding: 1.372rem 14.5rem 1.274rem 2.4rem;
    width: 100%;
    display: flex;
    flex-shrink: 0;
    margin-bottom: 2rem;
    overflow: hidden;
    position: relative;
    align-items: center;
    background-color: #ffffff;
    border-radius: 0.8rem;
    box-sizing: border-box;

    .image-54-iPw {
      margin-right: 2.8004rem;
      width: 5.4rem;
      height: 5.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .cosmos-d17 {
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.0242rem;
      font-size: 2.0434rem;
    }
  }
  .property-1variant33-Vp1 {
    width: 100%;
    position: relative;
    align-items: center;
    background-color: #ffffff;
    border-radius: 0.8rem;
    flex-shrink: 0;
    margin-bottom: 2rem;
    box-sizing: border-box;
    padding: 1.426rem 17.3rem 1.22rem 2.4rem;
    overflow: hidden;
    display: flex;

    .image-59-PPb {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2.6542rem;
      width: 5.5462rem;
      height: 5.4rem;
    }
    .elrond-VSd {
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.1321rem;
      font-size: 2.0434rem;
    }
  }
  .property-1variant34-B4Z {
    margin-bottom: 2rem;
    padding: 1.38rem 16.9rem 1.266rem 2.4rem;
    position: relative;
    display: flex;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    align-items: center;
    background-color: #ffffff;
    border-radius: 0.8rem;

    .image-47-Gbo {
      margin-right: 2.8004rem;
      width: 5.4rem;
      height: 5.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .solana-BTs {
      font-size: 2.0434rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.0399rem;
    }
  }
  .property-1variant35-TgH {
    margin-bottom: 2rem;
    padding: 1.434rem 19.1rem 1.212rem 2.4rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    border-radius: 0.8rem;
    flex-shrink: 0;

    .image-53-WuT {
      height: 5.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2.8004rem;
      width: 5.4rem;
    }
    .tron-Qjw {
      margin-bottom: 0.1478rem;
      font-size: 2.0434rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .property-1variant36-tf7 {
    padding: 1.388rem 17.8rem 1.258rem 2.4rem;
    position: relative;
    align-items: center;
    background-color: #ffffff;
    border-radius: 0.8rem;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-shrink: 0;
    margin-bottom: 2rem;

    .image-58-miu {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2.8004rem;
      width: 5.4rem;
      height: 5.4rem;
    }
    .zilliqa-smw {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.0557rem;
      font-size: 2.0434rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
    }
  }
  .property-1variant37-kaq {
    background-color: #ffffff;
    border-radius: 0.8rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
    padding: 1.442rem 16.2rem 1.205rem 2.4rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .image-64-STf {
      width: 5.4rem;
      height: 5.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2.8004rem;
    }
    .zelcore-wvD {
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.1635rem;
      font-size: 2.0434rem;
      font-weight: 400;
    }
  }
  .property-1variant38-EPX {
    position: relative;
    display: flex;
    border-radius: 0.8rem;
    flex-shrink: 0;
    margin-bottom: 2rem;
    overflow: hidden;
    width: 100%;
    align-items: center;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 1.395rem 14.8rem 1.251rem 2.4rem;

    .image-63-7TK {
      flex-shrink: 0;
      margin-right: 2.8004rem;
      width: 5.4rem;
      height: 5.4rem;
      object-fit: cover;
      vertical-align: top;
    }
    .bitkeep-24V {
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.0714rem;
      font-size: 2.0434rem;
    }
  }
  .property-1variant39-tsP {
    margin-bottom: 2rem;
    padding: 1.449rem 14.2rem 1.197rem 2.4rem;
    background-color: #ffffff;
    border-radius: 0.8rem;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .image-69-zQd {
      width: 5.4rem;
      height: 5.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2.8004rem;
    }
    .fortmatic-V6V {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.1792rem;
      font-size: 2.0434rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
    }
  }
  .property-1variant40-a7w {
    overflow: hidden;
    align-items: center;
    background-color: #ffffff;
    border-radius: 0.8rem;
    flex-shrink: 0;
    margin-bottom: 2rem;
    width: 100%;
    position: relative;
    display: flex;
    box-sizing: border-box;
    padding: 1.403rem 16.8rem 1.243rem 2.4rem;

    .image-68-ffB {
      margin-right: 2.8004rem;
      width: 5.4rem;
      height: 5.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .digitex-my7 {
      flex-shrink: 0;
      margin-bottom: 0.0871rem;
      font-size: 2.0434rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .property-1variant41-eGD {
    margin-bottom: 2rem;
    padding: 1.457rem 18.1rem 1.189rem 2.4rem;
    width: 100%;
    position: relative;
    display: flex;
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    overflow: hidden;
    align-items: center;
    border-radius: 0.8rem;

    .image-73-wWD {
      margin-right: 2.8004rem;
      width: 5.4rem;
      height: 5.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .torus-qrV {
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.195rem;
      font-size: 2.0434rem;
    }
  }
  .property-1variant42-UPf {
    box-sizing: border-box;
    padding: 1.411rem 18.9rem 1.235rem 2.4rem;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 0.8rem;

    .image-78-W5T {
      height: 5.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2.8004rem;
      width: 5.4rem;
    }
    .enjin-zuj {
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.1028rem;
      font-size: 2.0434rem;
      font-weight: 400;
      line-height: 1.2125;
    }
  }
  .property-1variant43-sCq {
    position: relative;
    display: flex;
    background-color: #ffffff;
    margin-bottom: 2rem;
    box-sizing: border-box;
    padding: 1.365rem 16.3rem 1.281rem 2.4rem;
    width: 100%;
    overflow: hidden;
    align-items: center;
    border-radius: 0.8rem;
    flex-shrink: 0;

    .image-83-9AM {
      margin-right: 2.8004rem;
      width: 5.4rem;
      height: 5.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .callisto-Sv9 {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.0106rem;
      font-size: 2.0434rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
    }
  }
  .property-1variant44-8ny {
    flex-shrink: 0;
    padding: 1.419rem 17.3rem 1.227rem 2.4rem;
    position: relative;
    display: flex;
    border-radius: 0.8rem;
    align-items: center;
    background-color: #ffffff;
    margin-bottom: 2rem;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;

    .image-82-ou7 {
      width: 5.4rem;
      height: 5.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2.8004rem;
    }
    .bitpay-Jqs {
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.1184rem;
      font-size: 2.0434rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .property-1variant45-zCu {
    padding: 1.373rem 17.7rem 1.273rem 2.4rem;
    overflow: hidden;
    position: relative;
    align-items: center;
    background-color: #ffffff;
    border-radius: 0.8rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-shrink: 0;

    .image-51-t3P {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2.8004rem;
      width: 5.4rem;
      height: 5.4rem;
      object-fit: cover;
    }
    .tezos-n8m {
      margin-bottom: 0.0262rem;
      font-size: 2.0434rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .property-1variant46-G3w {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 0.8rem;
    flex-shrink: 0;
    margin-bottom: 2rem;
    box-sizing: border-box;
    padding: 1.327rem 18.2rem 1.319rem 2.4rem;

    .image-77-kzh {
      margin-right: 2.8004rem;
      width: 5.4rem;
      height: 5.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .skale-s3j {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-top: 0.066rem;
      font-size: 2.0434rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
    }
  }
  .property-1variant47-Yff {
    margin-bottom: 2rem;
    box-sizing: border-box;
    padding: 1.381rem 14.7rem 1.265rem 2.4rem;
    width: 100%;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 0.8rem;

    .image-93-EYV {
      width: 5.4rem;
      height: 5.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2.8004rem;
    }
    .harmony-LrR {
      font-size: 2.0434rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.0418rem;
    }
  }
  .property-1variant49-EB7 {
    margin-bottom: 2rem;
    overflow: hidden;
    position: relative;
    align-items: center;
    background-color: #ffffff;
    border-radius: 0.8rem;
    box-sizing: border-box;
    padding: 1.435rem 20.4rem 1.211rem 2.4rem;
    width: 100%;
    display: flex;
    flex-shrink: 0;

    .image-92-vZj {
      margin-right: 2.8004rem;
      width: 5.4rem;
      height: 5.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .kin-SHB {
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.1497rem;
      font-size: 2.0434rem;
    }
  }
  .property-1variant49-j1P {
    margin-bottom: 2rem;
    width: 100%;
    position: relative;
    flex-shrink: 0;
    background-color: #ffffff;
    border-radius: 0.8rem;
    box-sizing: border-box;
    padding: 1.388rem 18.3rem 1.258rem 2.4rem;
    overflow: hidden;
    display: flex;
    align-items: center;

    .image-98-R97 {
      margin-right: 0.9287rem;
      width: 7.2717rem;
      height: 5.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .nano-KEV {
      font-size: 2.0434rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.0575rem;
    }
  }
  .property-1variant50-Pk9 {
    border-radius: 0.8rem;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    margin-bottom: 2rem;
    padding: 1.442rem 10.1rem 1.204rem 2.4rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .image-72-5ss {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2.8004rem;
      width: 5.4rem;
      height: 5.4rem;
    }
    .scatter-wallet-Q9T {
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.1653rem;
      font-size: 2.0434rem;
    }
  }
  .property-1variant51-gMs {
    margin-bottom: 2rem;
    padding: 1.396rem 16.5rem 1.25rem 2.4rem;
    width: 100%;
    overflow: hidden;
    align-items: center;
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    position: relative;
    display: flex;
    border-radius: 0.8rem;

    .image-62-A29 {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2.8004rem;
      width: 5.4rem;
      height: 5.4rem;
    }
    .coin98-fjb {
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.0731rem;
      font-size: 2.0434rem;
      font-weight: 400;
    }
  }
  .property-1variant52-9uf {
    box-sizing: border-box;
    width: 100%;
    background-color: #ffffff;
    border-radius: 0.8rem;
    margin-bottom: 2rem;
    padding: 1.45rem 17.7rem 1.196rem 2.4rem;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .image-67-TQZ {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2.8004rem;
      width: 5.4rem;
      height: 5.4rem;
      object-fit: cover;
    }
    .defiat-ZiV {
      font-size: 2.0434rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.1809rem;
    }
  }
  .property-1variant53-SnH {
    flex-shrink: 0;
    margin-bottom: 2rem;
    box-sizing: border-box;
    padding: 1.404rem 14.7rem 1.242rem 2.4rem;
    display: flex;
    background-color: #ffffff;
    border-radius: 0.8rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    align-items: center;

    .image-61-wj3 {
      flex-shrink: 0;
      margin-right: 2.8004rem;
      width: 5.4rem;
      height: 5.4rem;
      object-fit: cover;
      vertical-align: top;
    }
    .ontology-SQu {
      flex-shrink: 0;
      margin-bottom: 0.0887rem;
      font-size: 2.0434rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .property-1variant54-7mw {
    position: relative;
    display: flex;
    background-color: #ffffff;
    border-radius: 0.8rem;
    box-sizing: border-box;
    padding: 1.358rem 16.1rem 1.288rem 2.4rem;
    overflow: hidden;
    flex-shrink: 0;
    margin-bottom: 2rem;
    width: 100%;
    align-items: center;

    .image-56-cTo {
      height: 5.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2.8004rem;
      width: 5.4rem;
    }
    .filecoin-vUV {
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-top: 0.0035rem;
      font-size: 2.0434rem;
    }
  }
  .property-1variant55-bad {
    position: relative;
    flex-shrink: 0;
    padding: 1.412rem 12.8rem 1.234rem 2.4rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    margin-bottom: 2rem;
    box-sizing: border-box;
    border-radius: 0.8rem;

    .image-66-61b {
      margin-right: 2.8004rem;
      width: 5.4rem;
      height: 5.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .authereum-PWV {
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.1043rem;
      font-size: 2.0434rem;
    }
  }
  .property-1variant56-GqB {
    align-items: center;
    background-color: #ffffff;
    margin-bottom: 2rem;
    box-sizing: border-box;
    padding: 1.366rem 15.1rem 1.28rem 2.4rem;
    position: relative;
    flex-shrink: 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    border-radius: 0.8rem;

    .image-71-xxu {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2.8004rem;
      width: 5.4rem;
      height: 5.4rem;
      object-fit: cover;
    }
    .sumcoin-rYV {
      flex-shrink: 0;
      margin-bottom: 0.0122rem;
      font-size: 2.0434rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .property-1variant57-LyT {
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 0.8rem;
    flex-shrink: 0;
    margin-bottom: 2rem;
    padding: 1.37rem 15.5rem 1.276rem 2.4rem;
    width: 100%;
    position: relative;
    box-sizing: border-box;

    .image-81-RV7 {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2.8004rem;
      width: 5.4rem;
      height: 5.4rem;
    }
    .atwallet-jEu {
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.02rem;
      font-size: 2.0434rem;
      font-weight: 400;
      line-height: 1.2125;
    }
  }
  .property-1variant58-Qrq {
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    margin-bottom: 2rem;
    padding: 1.374rem 17.8rem 1.272rem 2.4rem;
    position: relative;
    border-radius: 0.8rem;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;

    .image-76-iMj {
      width: 3.548rem;
      height: 5.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 4.6524rem;
    }
    .portis-1rd {
      flex-shrink: 0;
      margin-bottom: 0.0278rem;
      font-size: 2.0434rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .property-1variant59-6t5 {
    box-sizing: border-box;
    padding: 1.428rem 20.5rem 1.219rem 2.4rem;
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 2rem;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 0.8rem;
    width: 100%;

    .image-86-b49 {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2.8004rem;
      width: 5.4rem;
      height: 5.4rem;
      object-fit: cover;
    }
    .fio-VvD {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.1356rem;
      font-size: 2.0434rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
    }
  }
  .property-1variant60-nuK {
    border-radius: 0.8rem;
    flex-shrink: 0;
    margin-bottom: 2rem;
    box-sizing: border-box;
    padding: 1.381rem 17.9rem 1.265rem 2.4rem;
    position: relative;
    align-items: center;
    width: 100%;
    overflow: hidden;
    display: flex;
    background-color: #ffffff;

    .image-91-5dX {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2.8004rem;
      width: 5.4rem;
      height: 5.4rem;
    }
    .nimiq-PeD {
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.0434rem;
      font-size: 2.0434rem;
      font-weight: 400;
    }
  }
  .property-1variant61-5X3 {
    overflow: hidden;
    background-color: #ffffff;
    flex-shrink: 0;
    margin-bottom: 2rem;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 0.8rem;
    padding: 1.435rem 15.5rem 1.211rem 2.4rem;
    width: 100%;

    .image-96-MjT {
      height: 5.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2.8004rem;
      width: 5.4rem;
    }
    .vechain-sC1 {
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.1512rem;
      font-size: 2.0434rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .property-1variant62-MN5 {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 0.8rem;
    flex-shrink: 0;
    margin-bottom: 2rem;
    box-sizing: border-box;
    padding: 1.389rem 12rem 1.257rem 2.4rem;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;

    .image-97-3kh {
      margin-right: 2.8004rem;
      width: 5.4rem;
      height: 5.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .tomo-chain-AKX {
      margin-bottom: 0.059rem;
      font-size: 2.0434rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .property-1variant63-eEh {
    margin-bottom: 2rem;
    box-sizing: border-box;
    position: relative;
    align-items: center;
    padding: 1.443rem 13.6rem 1.203rem 2.4rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    background-color: #ffffff;
    border-radius: 0.8rem;
    flex-shrink: 0;

    .image-46-vT7 {
      flex-shrink: 0;
      margin-right: 2.8004rem;
      width: 5.4rem;
      height: 5.4rem;
      object-fit: cover;
      vertical-align: top;
    }
    .avalanche-q4H {
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.1668rem;
      font-size: 2.0434rem;
      font-weight: 400;
      line-height: 1.2125;
    }
  }
  .property-1variant64-ids {
    width: 100%;
    position: relative;
    display: flex;
    border-radius: 0.8rem;
    box-sizing: border-box;
    padding: 1.397rem 6.7rem 1.249rem 2.4rem;
    overflow: hidden;
    align-items: center;
    background-color: #ffffff;
    flex-shrink: 0;
    margin-bottom: 2rem;

    .image-57-1N5 {
      height: 5.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2.8004rem;
      width: 5.4rem;
    }
    .ethereum-classic-7vu {
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.0747rem;
      font-size: 2.0434rem;
      font-weight: 400;
    }
  }
  .property-1variant65-oHw {
    flex-shrink: 0;
    margin-bottom: 2rem;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 0.8rem;
    box-sizing: border-box;
    padding: 1.451rem 17.8rem 1.195rem 2.4rem;
    width: 100%;
    overflow: hidden;

    .image-52-tKP {
      flex-shrink: 0;
      margin-right: 2.8004rem;
      width: 5.4rem;
      height: 5.4rem;
      object-fit: cover;
      vertical-align: top;
    }
    .theta-zdK {
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.1825rem;
      font-size: 2.0434rem;
      font-weight: 400;
    }
  }
  .property-1variant66-exm {
    border-radius: 0.8rem;
    flex-shrink: 0;
    box-sizing: border-box;
    overflow: hidden;
    align-items: center;
    display: flex;
    background-color: #ffffff;
    padding: 1.405rem 15rem 1.241rem 2.4rem;
    width: 100%;
    position: relative;

    .image-48-9uX {
      margin-right: 2.8004rem;
      width: 5.4rem;
      height: 5.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .polkadot-rJ9 {
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.0904rem;
      font-size: 2.0434rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #4f8aff;
      font-family: Inter, 'Source Sans Pro';
    }
  }
}
